<aside class="sidebar">
    <div class="menu-toggler">
        <button class="toggler icon">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <ul class="menu">
        <li class="{{ 'menu-item active' if '/admin' == request.url_rule|string else 'menu-item' }}">
            <a href="{{ url_for('admin') }}"><span class="icon"><i class="fas fa-user-secret"></i></span>
                <span class="text">Admin</span></a>
        </li>
        <li class="{{ 'menu-item active' if 'new_requests' in request.url_rule|string else 'menu-item' }}">
            <a href="{{ url_for('new_requests') }}"><span class="icon"><i class="fas fa-archive"></i></span>
                <span class="text">New Requests</span></a>
        </li>
        <li class="{{ 'menu-item active' if 'add_new' in request.url_rule|string else 'menu-item' }}">
            <a href="{{ url_for('add_new') }}"><span class="icon"><i class="fas fa-edit"></i></span>
                <span class="text">Add New</span></a>
        </li>
        <!-- <li class="{{ 'menu-item active' if 'profile' in request.url_rule|string else 'menu-item' }}">
            <a href="{{ url_for('profile') }}"><span class="icon"><i class="fas fa-user"></i></span>
                <span class="text">Profile</span></a>
        </li> -->
        <li class="menu-item">
            <a href="{{ url_for('logout') }}"><span class="icon"><i class="fas fa-blind"></i></span>
                <span class="text">logout</span></a>
        </li>
    </ul>
</aside>
