<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/utils.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/all.css')}}">

    {% block style %}
    {% endblock %}
    <title>GCL</title>
</head>

<body class="fixed-navbar">
    <div class="dashboard">
        {% block body %}
        {% endblock %}
        <div class="content">
            <nav></nav>
            {% block main %}
            {% endblock %}
        </div>
    </div>
    <footer>

    </footer>
    <script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
    {% block script %}
    
    {% endblock %}
</body>

</html>